<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <title>Kia</title>
  <link rel="stylesheet" href="{{apiUrl}}/css/styles_v1.css">
</head>

<body>
  <div class="container-buy">
    <div class="container-header">
      <div class="header-buy">
        <div class="help">
          <h1>Оформить подписку</h1>
        </div>
      </div>
    </div>
    <div class="container-main">
      <div class="main-buy"><a href="#">i</a>
        <!-- <div class="icon-div"><img src="{{apiUrl}}/assets/icon.svg"></div> -->
        <div class="text-div">
          <p>ЯВБезопасности</p>
          <div class="button-div">
            <form action="{{apiUrl}}/pay-monthly-subscription" method="post">
              <input type='hidden' name='id' id="id" value='{{id}}'>
              <button>
              <p>Подписка на 1 месяц 580 руб.  </p>

                <p style="text-align: left;">
                  Подписка на 1 месяц 580 руб.<br />
                  - [ ] круглосуточное наблюдение за абонентом<br />
                  - [ ] отчет о всех передвижениях <br />
                  - [ ] прибытие по тревоге двух вооружённых охранников*<br />
                  - [ ] срочный вызов полиции, скорой помощи, мчс<br />
                  * Стоимость за 30 минут сопровождения 2-х охранников-телохранителей 2890 руб. (сумма будет автоматически снята при нажатии кнопки тревога).<br />
                </p>
              </button>
            </form>
            <form action="{{apiUrl}}/pay-three-month" method="post">
              <input type='hidden' name='id' id="id" value='{{id}}'>
              <button>
                <p>Подписка на 3 Месяца 1490 руб.  ( ~1 месяц 496 руб.)</p>
                <p style="text-align: left;">
                  Подписка на 1 месяц 580 руб.<br />
                  - [ ] круглосуточное наблюдение за 2 абонентами<br />
                  - [ ] отчет о всех передвижениях <br />
                  - [ ] прибытие по тревоге двух вооружённых охранников*<br />
                  - [ ] срочный вызов полиции, скорой помощи, мчс<br />
                  * Стоимость за 30 минут сопровождения 2-х охранников-телохранителей 2890 руб. (сумма будет автоматически снята при нажатии кнопки тревога).<br />
                </p>
              </button>
            </form>
            <form action="{{apiUrl}}/pay-six-month" method="post">
              <input type='hidden' name='id' id="id" value='{{id}}'>
              <button>
                <p>2 820 Руб.</p>
                <p>
                  *Стоимость за 30 минут нахождения группы 2890 руб. 
                </p>
              </button>
            </form>
            <form action="{{apiUrl}}/pay-one-year" method="post">
              <input type='hidden' name='id' id="id" value='{{id}}'>
              <button>
                <p>4 980 Руб.</p>
                <p>Подписка на 12 месяцев: 4980 руб. круглосуточное наблюдение за 3 абонентами (члены семьи), ( ~1 месяц
                  407 руб.).Возможность в любое время вызвать группу из двух охранников- телохранителей*, вызов
                  операторами скорой помощи(возможность написать жалобу, если помощь была оказана ненадлежащим образом),
                  вызов Полиции при противоправном нарушении в отношении Вас или имущества.
                  * Полис страхования жизни на всю семью на всех.
                  * Полис страхования имущества 1 Квартиры или дома на 1 год. Возмещение 300 тысяч рублей.
                  *Стоимость за 30 минут нахождения группы 2890 руб.</p>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>