<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Kia</title>
    <link rel="stylesheet" href="{{apiUrl}}/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="container-header">
        <div class="header-account"><a href="#"><img src="{{apiUrl}}/assets/arrow.png">
            <p>Назад</p></a>
          <div class="help">
            <h1>Учетная запись</h1>
          </div>
        </div>
      </div>
      <div class="container-main-account">
        <div class="account-main">
          <div class="prof-pic">
            <div class="profile-image"><img src="{{apiUrl}}/img/{{img}}"></div>
            <div class="shadow"></div>
            <p>Иванов Александр<br>Алексеевич</p>
          </div>
          <div class="prof-settings">
            <div>
              <div class="edit-img"></div><a href="#">Редактировать учетную запись</a>
            </div>
            <div>
              <div class="plus-img"></div><a href="{{apiUrl}}/get-payment-page/{{id}}">Подписка</a>
            </div>
            <div>
              <div class="exit-img"></div><a href="#">Выход</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>