<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="{{apiUrl}}/css/styles_v1.css">
  </head>
  <body>
    <div class="container-buy">
      <div class="container-redaction">
        <div class="header-redaction">
          <div class="help">
            <h1>Активировать купон</h1>
          </div>
        </div>
      </div>
      <div class="container-main-redaction">
        <div class="redaction-main">
          <p style="color: #ddd;"> 
            Здесь будет подробное пояснение как активировать купон.
          </p>
          <form action="{{apiUrl}}/coupon-activate" method="post"> 
            <input type="hidden" name="UserId" id="UserId" value="{{id}}" />
            <div class="prof-settings-redaction">
              <div class="first-redaction">
                <input id="couponId" name="couponId" type="text" placeholder="Введите код купона" />
              </div>
              <button>Активировать</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>