<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Kia</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="container-header">
        <div class="header-help">
          <div class="help">
            <h1>Помощь</h1>
          </div>
        </div>
      </div>
      <div class="container-main">
        <div class="main-help">
          <p>По всем вопросам просьба обращаться на круглосуточный мониторинговый центр 8-800-201-495-7 или по мейлу usorf@yandex.ru.</p>
          <p>Как пользоваться приложением:</p>
          <p>1. Зарегистрируйтесь.</p>
          <p>2. Обязательно внимательно прочитайте СОГЛАШЕНИЕ С КОНЕЧНЫМ ПОЛЬЗОВАТЕЛЕМ И УСЛОВИЯ О КОНФИДЕНЦИАЛЬНОСТИ И ХРАНЕНИИ ПЕРСОНАЛЬНЫХ ДАННЫХ. И нажмите кнопку согласиться. </p>
          <p>3. Включите геолокацию на телефоне. </p>
          <p>4. Если Приложение активно, оно будет отслеживать Ваше местоположение и записывать ваши передвижения в трекер. Также Вы сможете видеть и анализировать все передвижения в течении месяца других пользователей Вашего тарифа. Для этого необходимо установить данное приложение на их смартфон и осуществить вход с Вашим логином и паролем. </p>
          <p>5. Время после регистрации для проверки данных до активации не более 24 часов. Возможность нажать тревожную кнопку появится после Активации. </p>
          <p>6. Нельзя нажимать тревожную кнопку в местах, где Охрана не сможет Вас идентифицировать(внутри многоквартирного дома (если это не место вашей регистрации-данное действие описано в п. 9), в метро и т.д. ).</p>
          <p>7. Кнопка Тревога срабатывает через 5 секунд, чтобы вы смогли уберечь себя от автоматического нажатия и отменить. Деньги списываются за выезд группы в момент срабатывания Тревоги. Оператор Вам перезвонит, для уточнения наших действий. Если Вы не возьмёте трубку, группа сразу будет направлена и будет отслеживать Ваше перемещение по геопозиции. Если в Вашем регионе нет доступных групп, оператор передаст Тревогу в оперативную службу Полиции. Также оператор может направить мчс, скорую помощь. Все пользователи одного аккаунта также получат все уведомления о Тревоге. </p>
          <p>8. Если группа нужна для сопровождения материальных ценностей, например, снятия денег в банке, перевозки ценного груза и т.д.нужно заранее (не позже 24 часов перед началом сопровождения) написать заявку по мейлу usorf@yandex.ru с указанием даты, времени и адреса, с которого начнется маршрут сопровождения. </p>
          <p>9. Если Вы хотите пользоваться тревожной кнопкой на территории места вашей регистрации, то Вам необходимо сообщить нам адрес прописки по электронной почте usorf@yandex.ru. </p>
          <p>10. Полис страхования имущества и жизни будет направлен Вам на электронную почту. Его необходимо распечатать, подписать и отправить фотографию подписанного экземпляра нам обратным письмом.</p>
        </div>
      </div>
    </div>
  </body>
</html>