<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Kia</title>
    <link rel="stylesheet" href="{{{ apiUrl }}}/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="container-header">
        <div class="header-help"><a href="#"><img src="{{ apiUrl }}/assets/arrow.png">
            <p>Назад</p></a>
          <div class="help">
            <h1>Помощь</h1>
          </div>
        </div>
      </div>
      <div class="container-main-help">
        <div class="main-help">
          <p>Как подключить услугу?</p>
          <p>Наша контактная информация</p>
          <p>Где я не могу пользоваться программой?</p>
          <p>Сколько стоит подписка и вызов?</p>
          <input type="text" placeholder="Оставшиеся вопросы...">
        </div>
      </div>
    </div>
  </body>
</html>