<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Kia</title>
    <link rel="stylesheet" href="{{apiUrl}}/css/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="container-header">
        <div class="header-call"><a href="#"><img src="img/arrow.png">
            <p>Назад</p></a>
          <div class="help">
            <h1>История вызовов</h1>
          </div>
        </div>
      </div>
      <div class="container-main-call">
        <div class="answer-section">
          <button class="accordion">03 августа,в 6:32<br>ул. Долгопрудного, дом 26<img class="rotate" src="{{apiUrl}}/assets/dropdown.svg"></button>
          <div class="panel">
            <p>Координаты: 162.00, 186.32</p>
            <p>Вызов завершен</p>
          </div>
          <button class="accordion">02 августа, в 12:32<br>ул. Долгопрудного, дом 26<img class="rotate" src="{{apiUrl}}/assets/dropdown.svg"></button>
          <div class="panel">
            <p>Координаты: 162.00, 186.32</p>
            <p>Вызов завершен</p>
          </div>
          <button class="accordion">01 августа, в 18:32<br>ул. Долгопрудного, дом 26<img class="rotate" src="{{apiUrl}}/assets/dropdown.svg"></button>
          <div class="panel">
            <p>Координаты: 162.00, 186.32</p>
            <p>Вызов завершен</p>
          </div>
          <button class="accordion">01 августа, в 19:32<br>ул. Долгопрудного, дом 26<img class="rotate" src="{{apiUrl}}/assets/dropdown.svg"></button>
          <div class="panel">
            <p>Координаты: 162.00, 186.32</p>
            <p>Вызов завершен</p>
          </div>
          <button class="accordion">01 августа, в 20:32<br>ул. Долгопрудного, дом 26<img class="rotate" src="{{apiUrl}}/assets/dropdown.svg"></button>
          <div class="panel">
            <p>Координаты: 162.00, 186.32</p>
            <p>Вызов завершен</p>
          </div>
        </div>
      </div>
      <script src="{{apiUrl}}/scripts/script.js"></script>
    </div>
  </body>
</html>