<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <title>Kia</title>
  <link rel="stylesheet" href="{{apiUrl}}/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="container-header" style="text-align:center;">
      <div class="header-call">
        <div class="help">
          <h1>Оплата прошла успешно.</h1>
        </div>
      </div>
    </div>
    <script src="{{apiUrl}}/scripts/script.js"></script>
  </div>
</body>
<style>
  .ml1 {
    margin-left: 10px;
  }
</style>

</html>