<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="{{apiUrl}}/css/styles_v1.css">
  </head>
  <body style = "font-family: 'FuturicaLt', san-serif;">
    <div class="container-buy">
      <div class="container-redaction">
        <div class="header-redaction">
          <div class="help">
            <h1 style="margin-top: 20px;">Активировать купон</h1>
          </div>
        </div>
      </div>
      <div class="container-main-redaction">
        <div class="redaction-main" style="width: 80%" >
          <p style="color: #ddd; text-align: justify; width: 100%">
            Купон даёт право бесплатного пользования выбранным тарифом на 
            1, 3, 6 или 12 месяцев. Чтобы Вы могли вызвать ГБР (группу быстрого
             реагирования) во время нажатия тревоги, нам необходимо привязать 
             Вашу банковскую карту.  Для этого внесите 1 рубль, чтобы во время 
             тревоги списалась плата за выезд ГБР с этой карты.
          </p>
          <form action="{{apiUrl}}/coupon-activate" method="post"> 
            <input type="hidden" name="UserId" id="UserId" value="{{id}}" />
            <div class="prof-settings-redaction">
              <div class="first-redaction">
                <input id="couponId" name="couponId" type="text" placeholder="Введите код купона" />
              </div>
              <button>Активировать</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>